@import "var";
@import "mixin";

header {
  .nav_header {
    background-color: $blue-item-color;
    color: white;

    a {
      color: white;
    }
  }

  .nav-footer {
    color: $blue-item-color;
    font-weight: bold;

    .shopDropdown {
      .dropdown-item {
        @include dropdown-item-style;
      }
    }
    .shopButton {
      display: block;
      background-color: $blue-item-color;
      color: white;
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }

    .bioTrustDropdown {
      .dropdown-toggle::after {
        content: none;
      }

      .dropdown-menu {
        list-style: none;

        .dropdown-item {
          @include dropdown-item-style;
        }
      }
    }

    .input-group {
      .form-control {
        &:focus {
          box-shadow: inset 0 2px 2px rgba(255, 2, 200, 0.075),
            0 0 8px rgb(180, 2, 109, 1) !important;
          z-index: 0 !important;
        }
      }

      #search-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }

  .nav-divider {
    border-top: 5px solid $blue-item-color;
    opacity: 1;
  }
  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block !important;
      }
    }
  }
}
.nav-link {
  &:hover {
    color: #90b4f4 !important;
  }
}

main {
  .vertical-slider {
    .slick-next {
      top: -2%;
      left: 32%;
    }
    .slick-prev {
      top: 102%;
      left: 32%;
    }
  }

  .horizontal-slider {
    .slick-next {
      right: 0;
    }
    .slick-prev {
      left: -4%;
    }
  }

  .slider-main-img-div {
    overflow: hidden;
    .slider-main-img {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.5);
        transform-origin: center center;
      }
    }
  }
  .badge {
    &:hover {
      .badge-div {
        display: block;
      }
    }
  }

  .slick-prev,
  .slick-next {
    background: $blue-item-color !important;
    border-radius: 15px;
  }
}
